[Unit]
Description=Display layout switcher

[Service]
ExecStart=/home/hinton/.local/session/scripts/displays
Restart=always

[Install]
WantedBy=default.target