source ~/.profile

export __GL_SYNC_TO_VBLANK=1
export _JAVA_AWT_WM_NONREPARENTING=1

export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:$(nix-build '<nixpkgs>' -A xorg.libXcursor --no-out-link)/lib"

echo ${DBUS_SESSION_BUS_ADDRESS} > .dbus_session_bus_address

setxkbmap
gpg-connect-agent -q updatestartuptty /bye
compton -b

pkill redshift-gtk
redshift-gtk -l 51.455313:-2.591902 &
xss-lock gpg-connect-agent  /bye &
~/bin/setroot
dunst &

# broken scrolling in soffice
export GDK_CORE_DEVICE_EVENTS=1
# force soffice to use GTK in xmonad.
export SAL_USE_VCLPLUGIN=gtk