#define FONT Monospace-13

URxvt.font: xft:Monospace:size=13, xft:Symbola:size=11, -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*

Xcursor.theme: whiteglass
Xcursor.size: 16

URxvt*urgentOnBell: true
URxvt*saveLines: 5000

URxvt*scrollWithBuffer: True
URxvt*scrollTtyOutput: False
URxvt*scrollTtyKeypress: True
URxvt*secondaryScreen: True
URxvt*secondaryScroll: False
URxvt*secondaryWheel: True

URxvt*scrollBar: false

XTerm*charClass: 33:48,37:48,45-47:48,38:48,58:48
XTerm*faceName: FONT
XTerm*font: 7x13
XTerm*bellIsUrgent: true
XTerm*locale: true
XTerm*saveLines: 4096
XTerm*eightBitInput: false
XTerm*cutNewLine: false
XTerm*on4Clicks: group
XTerm*visualBell: true
XTerm*visualBellLine: true

Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

Emacs*menubar: 0
Emacs*verticalScrollBars:0
Emacs*toolBar:0

Emacs*FontBackend: xft
Emacs*font: FONT

xclock*chime: true
xclock*geometry: 80x80-5-40
xclock*Foreground:white
xclock*Background:black

#include ".Xresources_emacs"
