#define FONT Monospace-10.5

#ifdef DARK
XTerm*background: #2e3436
XTerm*foreground: #eeeeec
xterm*cursorColor: #fce94f
#else
XTerm*background: #eeeeec
XTerm*foreground: #2e3436
xterm*cursorColor: #204a87
#endif

xterm*color0: #000000
xterm*color1: #E45649
xterm*color2: #50A14F
xterm*color3: #986801
xterm*color4: #4078F2
xterm*color5: #A626A4
xterm*color6: #0184BC
xterm*color7: #A0A1A7
xterm*color8: #5c6370
xterm*color9: #e06c75
xterm*color10: #50A14F
xterm*color11: #986801
xterm*color12: #5088F8
xterm*color13: #A626A4
xterm*color14: #0184BC
xterm*color15: #ffffff

XTerm*termName: XTerm-256color
XTerm*faceName: FONT
XTerm*font: 7x13
XTerm*bellIsUrgent: true
XTerm*locale: true
XTerm*saveLines: 4096
XTerm*eightBitInput: false

Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

Emacs*menubar: 0
Emacs*verticalScrollBars:0
Emacs*toolBar:0

Emacs*FontBackend: xft
Emacs*font: FONT
Emacs*pointerColor: #ffffff
