#define FONT Monospace-10

#ifdef DARK
XTerm*background: #2e3436
XTerm*foreground: #eeeeec
xterm*cursorColor: #fce94f
#else
XTerm*background: #eeeeec
XTerm*foreground: #2e3436
xterm*cursorColor: #204a87
#endif


XTerm*termName: XTerm-256color
XTerm*faceName: FONT
XTerm*font: 7x13
XTerm*bellIsUrgent: true
XTerm*locale: true
XTerm*saveLines: 4096
XTerm*eightBitInput: false

Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

Emacs*menubar: 0
Emacs*verticalScrollBars:0
Emacs*toolBar:0

Emacs*FontBackend: xft
Emacs*font: FONT
Emacs*pointerColor: #ffffff


! black
*color0: #000000

! bright_black
*color8: #262626

! red
*color1: #ae8684

! bright_red
*color9: #d8c5c4

! green
*color2: #84ae86

! bright_green
*color10: #c4d8c5

! yellow
*color3: #acae84

! bright_yellow
*color11: #d7d8c4

! blue
*color4: #8684ae

! bright_blue
*color12: #c5c4d8

! magenta
*color5: #ae84ac

! bright_magenta
*color13: #d8c4d7

! cyan
*color6: #84acae

! bright_cyan
*color14: #c4d7d8

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff
